
.container {
    min-width: 100%;
    min-height: 130vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: fit-content;
    width: 50%;
    justify-content: flex-start;
    letter-spacing: 0.3rem;
    font-weight: 300;
    margin: 2rem;
}

.content {
    width: 50%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
}


