
.container {
    min-width: 100%;
    min-height: 60rem;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    min-width: 50%;
    justify-content: flex-start;
    letter-spacing: 0.3rem;
    font-weight: 300;
    margin: 2rem;
}

.content {
    min-width: 60rem;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
}

@media (max-width: 600px) {
    .content {
        min-width: 20rem;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        column-gap: 0;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .container {
        min-height: 50rem;
    }
    
    .content {
        min-width: 40rem;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
        column-gap: 1rem;
    }
}


