.intro {
    width: 100%;
    height: 84vh;
    border: 2px solid blue;
}

.container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
}

.mountBack {
    width: 100%;
    height: 20vh;
    position: absolute;
    left: 0;
    bottom: 26vh;
    background-image: url('../static/MountainBack.png');
    background-size: contain;
    background-repeat: repeat-x;
}

.mountFront {
    width: 100%;
    height: 20vh;
    position: absolute;
    left: 0;
    bottom: 15vh;
    background-image: url('../static/MountainFront.png');
    background-size: contain;
    background-repeat: repeat-x;
}

.mountGlow {
    -webkit-box-shadow:0px 0px 154px 119px rgba(74,175,247,0.67);
    -moz-box-shadow: 0px 0px 154px 119px rgba(74,175,247,0.67);
    box-shadow: 0px 0px 154px 119px rgba(74,175,247,0.67);
    width: 100%;
    height: 0.1rem;
    opacity: 1;
    position: absolute;
    left: 0;
    bottom: 13rem;
    -webkit-animation: glow linear 1s infinite; 
    animation: glow linear 3s infinite;
}

/* Mount Glow Animation */
@-webkit-keyframes glow { 
    0% {
        -webkit-box-shadow:0px 0px 154px 119px rgba(74,175,247,0.67);
        -moz-box-shadow: 0px 0px 154px 119px rgba(74,175,247,0.67);
        box-shadow: 0px 0px 154px 119px rgba(74,175,247,0.67);
    }
    35% { 
        -webkit-box-shadow:0px 0px 154px 119px rgba(250,125,125,0.67);
        -moz-box-shadow: 0px 0px 154px 119px rgba(250,125,125,0.67);
        box-shadow: 0px 0px 154px 119px rgba(250,125,125,0.67);
    }
    50% {
        -webkit-box-shadow:0px 0px 154px 119px rgba(140,102,217,0.67);
        -moz-box-shadow: 0px 0px 154px 119px rgba(140,102,217,0.67);
        box-shadow: 0px 0px 154px 119px rgba(140,102,217,0.67);
    }
    90% { 
        -webkit-box-shadow:0px 0px 154px 119px rgba(74,175,247,0.67);
        -moz-box-shadow: 0px 0px 154px 119px rgba(74,175,247,0.67);
        box-shadow: 0px 0px 154px 119px rgba(74,175,247,0.67);
    }
} 

@keyframes glow { 
    0% { 
        -webkit-box-shadow:0px 0px 154px 119px rgba(74,175,247,0.67);
        -moz-box-shadow: 0px 0px 154px 119px rgba(74,175,247,0.67);
        box-shadow: 0px 0px 154px 119px rgba(74,175,247,0.67);
    }
    35% { 
        -webkit-box-shadow:0px 0px 154px 119px rgba(250,125,125,0.67);
        -moz-box-shadow: 0px 0px 154px 119px rgba(250,125,125,0.67);
        box-shadow: 0px 0px 154px 119px rgba(250,125,125,0.67);
    }
    50% {
        -webkit-box-shadow:0px 0px 154px 119px rgba(140,102,217,0.67);
        -moz-box-shadow: 0px 0px 154px 119px rgba(140,102,217,0.67);
        box-shadow: 0px 0px 154px 119px rgba(140,102,217,0.67);
    }
    90% { 
        -webkit-box-shadow:0px 0px 154px 119px rgba(74,175,247,0.67);
        -moz-box-shadow: 0px 0px 154px 119px rgba(74,175,247,0.67);
        box-shadow: 0px 0px 154px 119px rgba(74,175,247,0.67);
    }
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .container {
        z-index: 2;
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 100vh;
        border: 2px solid purple;
    }

    .mountBack {
        width: 100vw;
        height: 40%;
        position: absolute;
        left: 0;
        bottom: 15vh;
        background-image: url('../static/MountainBack.png');
        background-size: contain;
        background-repeat: repeat-x;
    }
}
