
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100vw;
    height: 3rem;
}
.logo {
    margin: 0.5rem 2rem 0 2rem;
}

.break {
    flex: 0.99;
    background-color: #2B4D60 !important;
    border: #2B4D60 !important;
    height: 2.5px;
    margin-top: 1rem;
    opacity: 0.3;
}

.list {
    margin: 0 6rem 0 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listItem {
    margin: 0 4rem 0 0;
}

.listItem:hover {
    color: #64B9F7;
    transition: 0.25s;
}